html,
body,
.container-fluid {
	/* background-color: #f3f3f3; */
	background-color: #fff;

}

#container {
	margin-top: 1em;
}

#message {
	/* margin: 0.5em 1em; */
	color: #000;
}

hr{
  background-color: #fff;
}


/* ------------------------------------------ */


.alert.alert-success {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  display: none;
  text-align: center;
}

.alert.alert-success #message-cross:hover{
  cursor: pointer;
}



/*** Table Styles **/

.table-mid-container{
  height: 400px;
  overflow: auto;
  margin-top: 30px;
}

.table-fill {
	/* background: white; */
	/* border-radius: 3px; */
	/* border-collapse: collapse; */
	/* height: 320px; */
	margin: auto;
	/* max-width: 600px; */
	padding: 5px;
	width: 90%;
	/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
	animation: float 5s infinite;
  border-collapse: collapse;
	/* overflow: hidden; */
	/* box-shadow: 0 0 20px rgba(0,0,0,0.1); */
  
}

table{
  height: 100px;
}

/* table td {
    position: relative;
}

table td input {
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
} */

tr {
	/* border-top: 1px solid #c1c3d1; */
	/* border-bottom: 1px solid #c1c3d1; */
    border: none;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    display: flex;
    /* width: 100%; */
    margin: 0;
    /* background-color: #fff; */
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #edecfa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #edecfa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(45deg, #49a09d, #5f2c82) !important; */
    /* border: 1px solid #fff; */


}

/* tr:hover td {
	background: #22262e;
	color: #ffffff;
	border-top: 1px solid #22262e;
} */

tr:first-child {
	border-top: none;
}

tr:last-child {
	border-bottom: none;
}
/* 
tr:nth-child(odd) td {
	background: #ebebeb;
} */

/* tr:nth-child(odd):hover td {
	background: #4e5066;
} */

tr:last-child td:first-child {
	border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 3px;
}

td {
	/* background: #ffffff; */
    /* margin: 10px; */
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    /* flex: 1; */
    padding: 15px;
	/* background-color: rgba(255,255,255,0.2); */
	color: #fff;
    padding: 0;

}

td input.form-control{
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0px;
    padding-left: 10px;
    background-color: transparent;
    color: #000;
}

td input.form-control:focus{
    outline: 0 !important;
    box-shadow: none !important;
    background-color: transparent;
}

td button{
    margin: 3px;
}

.key-td{
	border-right: 1px solid #c1c3d1;
}

.key-td, .value-td{
    flex: 1;
}

.btn-td{
  /* flex: 0.5; */
}



td:last-child {
	border-right: 0px;
}

th.text-left {
	text-align: left;
}

th.text-center {
	text-align: center;
}

th.text-right {
	text-align: right;
}

td.text-left {
	text-align: left;
}

td.text-center {
	text-align: center;
}

td.text-right {
	text-align: right;
}

/* body {
  padding: 0;
  margin: 0;
} */
body header {
  width: 100%;
  height: 50px;
  background-color: #edecfa;
  display: flex;
  flex-direction: column;
}
body header #top_element {
  height: 100%;
  background-color: #edecfa;
}
/* body header h4{
  position: relative;
  top: 25px;
  left: 30px;
} */
body header #main_search_element {
  height: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header #main_search_element #search_icon_circle {
  width: 50px;
  height: 50px;
  background: #ffffff;
  display: block;
  border-radius: 100px/100px;
  position: relative;
  /* top: -22px; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in;
}
body header #main_search_element #search_icon_circle #search_icon_background {
  width: 40px;
  height: 40px;
  background-color: #908ae0;
  box-shadow: 10px 10px 20px 0px #d7d3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px/100px;
  position: relative;
  /* top: -7px; */
  cursor: pointer;
  transition: all 0.4s ease-in;
}
body header #main_search_element #search_icon_circle #search_icon_background .fa {
  color: #ffffff;
  left: 2px;
  position: relative;
}
body header #main_search_element #search_icon_circle #search_icon_background .fa-times {
  display: none;
}
body header #main_search_element #search_icon_circle #search_icon_background input {
  transition: all 0.4s ease-in;
  opacity: 0;
  width: 0;
  background: #908ae0;
  border: none;
  outline: none;
  color: #fff;
}
body header #main_search_element.expand #search_icon_circle {
  border-radius: 20px;
  width: 300px;
}
body header #main_search_element.expand #search_icon_circle #search_icon_background {
  width: 260px;
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
body header #main_search_element.expand #search_icon_circle #search_icon_background .fa-times {
  display: block;
}
body header #main_search_element.expand #search_icon_circle #search_icon_background input {
  width: 220px;
  opacity: 1;
  padding-left: 10px;
  outline: none;
  border: none;
}








::-webkit-scrollbar {
  width: 8px;
  
  /* background: #2d3436; */
  background: #edecfa;
}

::-webkit-scrollbar-thumb {
  background: #636e72;
  border-radius: 8px;
}